.input {
  padding: 0.5em;
  border-radius: 100vmax;

  width: 150px;
  font-size: 18px;
  background-color: #ffffff29;
  color: #3dfffc;
  border: 2px solid #4deeea;
  padding: 7px 20px;
  border-radius: 100vmax;

  background-image: url("../../assets/Welcome/alien_head.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left 1.2ex top 50%;
  padding-left: 35px;
}

.input::placeholder {
  position: relative;
  top: 1px;
  color: #bbd4d4;
}
