.button {
    padding: 0.5em;
    border-radius: 5px;
  
    font-size: 1.125rem;
    background-color: #b4131354;
    color: #F72119;
    border: 2px solid #ff0000;
    padding: 7px 20px;
    cursor: pointer;
}
