.container {
  min-height: 100vh;
  background-color: #0c0e26;
  overflow: hidden;
}

.nav-bar {
  background-color: palevioletred;
  position: sticky;
  top: 0;
  height: 40px;

  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-image: url("src/assets/backgrounds/stars.jpg");
  background-size: cover;
  border-bottom: solid #4deeea 2px;
}

.nav {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.nav a {
  color: #4deeea;
  text-decoration: none;
}

.nav button {
  justify-self: start;
}

.nav :global(.active) {
  color: #74ee15;
}

