@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  z-index: 1;
  display: grid;
  place-items: center;
  animation: fade-in 1s ease-in-out 1;
}

.container > h1 {
  color: #4deeea;
}

.container form {
  display: grid;
  row-gap: 0.8rem;
}

.container button {
  place-self: stretch;
  font-size: 18px;
  background-color: #281c3c;
  color: #4deeea;
  border: 2px solid #4deeea;
  padding: 7px 20px;
  border-radius: 100vmax;
  cursor: pointer;
}

.container p {
  color: #4deeea;
  padding: 7px 20px;
  border-radius: 100vmax;
  background-color: #281c3c85;
  font-weight: 500;
}

.container a {
  color:#74ee15;
  font-weight: 500;
}
