/* .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 2rem;
  padding: 2rem;
}

.container > div {
  background-color: lightgrey;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.practice {
  
  background-color: aqua;
  display: flex;
  flex-direction: row;
} */

/* style.module.css */

/* style.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.quiz-button {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-button:hover {
  background-color: #f1f1f1;
}