.Board{
    display: flex;
    justify-content: center;
    color:white

}



th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid white;
  padding: 5px;
  text-decoration-color: white;
}
