.result-container {
  padding: 20px;
  border: #4deeea 3px solid;
  color: #4deeea;
  border-radius: 30px;
  background: linear-gradient(#24214628, #03041881);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  width: 300px;
  row-gap: 1rem;
}
.result-container > h2 {
  font-size: 2.5rem;
  margin: 0.2em 0;
  margin-top: 0.5em;
}

.result-container > p {
  margin: 0.2em 0;
}

.restart-button {
  padding: 20px;
  border: #4deeea 3px solid;
  color: #4deeea;
  font-size: 1.125rem;
  border-radius: 12px;
  background: linear-gradient(#24214628, #03041881);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #4deeea54;
}
